{% extends "base.html" %}
{% block content %}
<main class="container">
  <section>
    <h2>Investment Accounts</h2>

    {% if message %}
    <p><strong>{{ message }}</strong></p>
    {% endif %}

    <form method="post">
      <label for="name">Add New Account</label>
      <input type="text" id="name" name="name" placeholder="e.g. Roth IRA or Brokerage">
      <button type="submit">Add Account</button>
    </form>

    <h3>Existing Accounts</h3>
    <table class="sortable">
      <thead>
        <tr>
          <th>Account Name</th><th>Account ID</th>
        </tr>
      </thead>
      {% for account in accounts %}
        <tr>
          <td>{{ account.name }}</td>
          <td>{{ account.id }}</td>
        </tr>   
      {% endfor %}
    </table>
  </section>
</main>
{% endblock %}