<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Static CSS -->
  <!-- <link rel="stylesheet" href="static/style.css"> -->
  <!-- Bokeh JS -->
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.3.min.js"></script>
  <!-- Pico CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>{{ title or "Tracker" }}</title>
</head>
<body>
  <header class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/accounts">Accounts</a></li>
        <li><a href="/import">Import CSV</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/performance">Performance</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>